<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SpaceColony">
        <activity
            android:name=".activities.CombatPage"
            android:exported="false" />
        <activity
            android:name=".activities.RecruitmentActivity"
            android:exported="false" />
        <activity
            android:name=".activities.RecruimentActivity"
            android:exported="false" />
        <activity
            android:name=".activities.RecordActivity"
            android:exported="false" />
        <activity
            android:name=".activities.TeamActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MissionActivity"
            android:exported="false" />
        <activity
            android:name=".activities.TrainingActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MedBayActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>